version: "3.8"

services:
  api:
    build: ./api
    ports:
      - "3333:3333"
    env_file:
      - ./api/.env

  front:
    build: ./front
    #dockerfile: Dockerfile
    ports:
      - "80:80"
    volumes:
      - ./front:/app
    env_file:
      - ./front/.env
    depends_on:
      - api
