name: Cypress test front

on:
  push:
    paths:
      - "front/**"

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./front
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - run: npm ci --legacy-peer-deps
      - name: Cypress run
        uses: cypress-io/github-action@v4
        # working-directory: ./front
        with:
          install: false
          command: npm run cy:e2e
          record: true
          project: ./front
          working-directory: ./front

        env:
          # pass the Dashboard record key as an environment variable
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          # pass GitHub token to allow accurately detecting a build vs a re-run build
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
