name: Cypress test

on:
  push:
    paths:
      - "front/**"

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./front
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          build: npm run build
          start: npm start
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS.RECORD.KEY }}
          GITHUBTOKEN: ${{ secrets.GITHUB_TOKEN }}
